<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Cool url</display-name>

	<servlet>
		<servlet-name>DefaultPage</servlet-name>
		<servlet-class>md.fcim.controller.DefaultPageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultPage</servlet-name>
		<url-pattern>/DefaultPage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Result</servlet-name>
		<servlet-class>md.fcim.controller.ResultController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/Result</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>md.fcim.controller.filter.CharsetFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>DefaultPage</welcome-file>
	</welcome-file-list>
</web-app>
